# Requirements file to install with pip.
#
# TODO: use dependabot to upgrade?
# NOTE: The models/examples that use a certain
#       package are listed for each dependency.

tensorflow            # model-1
numpy                 # model-1
matplotlib            # model-1
SpeechRecognition     # sr-1
pyaudio               # sr-1
